html { overflow-y:scroll}
*{word-wrap:break-word;}
body{ background:#465562; font-weight: normal;}
body,input,button,select,textarea{font:12px/1.5 'Microsoft Yahei','Simsun'; color:#444;}
textarea{resize:none;}body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc{margin:0;padding:0;}
table{empty-cells:show;border-collapse:collapse;}caption,th{text-align:left;font-weight:400;}
ul li,.xl li{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:1em;}em,cite,i{font-style:normal;}
a{color:#333;text-decoration:none; /*transition:all .2s linear*/}
a:hover{text-decoration:blink;}
a img{border:none;}
label{cursor:pointer;}
ul,li { list-style:none}
/*清除浮动相关------------------*/
	.clearfix:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	* html .clearfix             { zoom: 1; } /* IE6 */
	*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.z{float:left;}
.y{float:right;}
.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.cl{zoom:1;}
input {outline: none;}
textarea {outline: none;}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
	border:none; padding:0;
}
.height0 { height:0px; width:100%; clear:both; overflow:hidden}
.height10 { height:10px; width:100%; clear:both; overflow:hidden}
.height20 { height:20px; width:100%; clear:both; overflow:hidden}
.cmain { width:1200px; margin:0 auto}
.cheader { padding:15px 0; clear:both; border-bottom:1px solid #dadadc; background:#fff; overflow:hidden; height:auto}
.cheaderz { float:left}
.cheadert	{float: right;width: 200px;margin-top: 45px;font-size: 15px;}
.clogin { background:#fff; border-radius: 5px; padding:65px 0; height:auto; overflow:hidden}
.cloginc { width:440px; height:auto; margin:0 auto;}
.clogincd { width:438px; height:48px; border:1px solid #eee; overflow:hidden; margin:0 0 20px; clear:both}
.clogincd span { float:left; margin:8px 11px;}
.clogincd em { float:left; margin:9px 0; width:380px}
.clogincd input { height:30px; line-height:30px; width:100%; border:none; font-size:14px;}
.clogincd3 { width:100%; height:50px; line-height:50px; text-align:center; color:#fff; font-size:18px; margin:20px 0; background:#ff5a60;}
.clogincd3 button { background:none; border:none; cursor:pointer; width:100%; height:50px; color:#fff; font-size:18px;}
.clogincd2 { width:100%; height:auto; margin:10px 0; clear:both; overflow:hidden}
.clogincd2z { float:left}
.clogincd2y { float:right}
.clogincd4 {  clear:both; text-align:center; height:auto; font-size:14px;}
.clogincd4 a,.clogincd2y a { color:#3792ed}
.clogint { margin:20px auto; width:600px; font-size:16px; color:#333;}
.clogincd5 input { width:200px; height:30px; margin:9px; line-height:30px; border:none; font-size:14px;}
.clogincd5 a { display:block; width:98px; height:48px; font-size:16px; color:#999; border:1px solid #eee; text-align:center; line-height:48px;}
.clogincd5 img { border:1px solid #eee; vertical-align:middle}
.clogincd51 { border:1px solid #eee; width:218px; height:48px;}
.clogincd6 { border:1px solid #eee; margin:50px auto;  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:24px; text-align:center; padding:60px 0; width:720px;}
.cdingdg { border:1px solid #eee; margin:0 auto; height:auto; background:#fff; overflow:hidden}
.cdingdgz { float:left; width:210px; height:auto; overflow:hidden}
.cdingdgy { float:right; width:988px; height:auto; overflow:hidden}
.cdingdgy1 { border-left:1px solid #eee; width:961px; float:left}
.cdingdgy2 { width:962px; height:auto; float:left}
.cdingdgy21 { border-left:1px solid #eee; height:auto; clear:both; overflow:hidden}
.cdingdgy22 { clear:both; height:auto; overflow:hidden; margin:40px 0 80px; width:600px; float:right;}
.cdingdgy22 li { float:left; width:300px;}
.cdingdgy22 li button { width:120px; text-align:center; font-size:14px; height:35px; line-height:35px; color:#fff; border:none; margin:0 auto; cursor:pointer}
.cdingdgy22li1 button { background:#ff5a60}
.cdingdgy22li2 button { background:#3792ed}
.cdingdgy211 { margin:20px; height:auto; clear:both; overflow:hidden}
.cdingdgy211z { float:left}
.cdingdgy211y { float:right}
.cdingdgy211z h4 { color:#888; height:25px; line-height:25px; clear:both; overflow:hidden; font-weight:500; font-size:14px;}
.cdingdgy211z h3 { color:#333; height:25px; line-height:25px; clear:both; overflow:hidden; font-weight:500; font-size:14px;}
.cdingdgy211y a { float:right; padding:0 10px; height:26px; line-height:26px; color:#fff; background:#ff5a60; margin:8px 0;  -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.cdingdgy213 { padding-top:40px; clear:both; height:auto; overflow:hidden}
.cdingdgy213z { float:left; width:440px; height:auto; border:1px solid #eee; margin:10px 10px 50px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.cdingdgy213zd1,.cdingdgy213zd2 { position:relative; clear:both; height:auto; overflow:hidden; margin:10px 0 20px;}
.cdingdgy213zd1z { width:48px; height:48px;}
.cdingdgy213zd1z img { width:100%; height:100%; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.cdingdgy213zd1y h3 { font-size:14px; font-weight:500; width:100%; height:25px; clear:both; overflow:hidden}
.cdingdgy213zd1y h3 span {}
.cdingdgy213zd1y h3 em { color:#999}
.cdingdgy213zd1ydc { background:#e7e8eb; font-size:14px; padding:8px 12px;-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; position:relative}
.cdingdgy213zd1 .cdingdgy213zd1ydc { float:left}
.cdingdgy213zd2 .cdingdgy213zd1ydc { float:right}
.cdingdgy213zd1 .cdingdgy213zd1ydc span { width:8px; height:10px; background:url(jtzy.gif) no-repeat; display:block; position:absolute; left:-8px; top:14px}
.cdingdgy213zd2 .cdingdgy213zd1ydc span { width:8px; height:10px; background:url(jtzy2.gif) no-repeat; display:block; position:absolute; right:-7px; top:14px}
.cdingdgy213zd1 .cdingdgy213zd1z { position:absolute; left:0; top:0;}
.cdingdgy213zd1 .cdingdgy213zd1y { margin:0 10px 0 65px}
.cdingdgy213zd2 .cdingdgy213zd1z { position:absolute; right:0; top:0;}
.cdingdgy213zd2 .cdingdgy213zd1y { margin:0 65px 0 10px}
.cdingdgy213zd1 .cdingdgy213zd1y h3 { text-align:left}
.cdingdgy213zd2 .cdingdgy213zd1y h3 { text-align:right}
.cdingdgy213zd1 .cdingdgy213zd1y h3 em {padding-left:10px; }
.cdingdgy213zd2 .cdingdgy213zd1y h3 em {padding-right:10px;}
.cdingdgy213z_top { height:500px; padding:10px;}
.cdingdgy213z_bot { height:75px; width:100%; border-top:1px solid #eee; overflow:hidden}
.cdingdgy213z_botz { float:left; width:359px; padding:10px;}
.cdingdgy213z_boty { float:right; width:60px; text-align:center; border-left:1px solid #eee; height:75px; line-height:75px; font-size:14px; cursor:pointer}
.cdingdgy213z_botz textarea { border:none; width:100%; height:100%; background:none}
.cdingdgy213y { float:right; width:490px; height:auto; overflow:hidden}
.cdingdgy213 td { padding:10px 0; border-bottom:1px solid #eee; font-size:14px; line-height:22px;}
.cdingdgy213 td span { color:#999; padding-left:20px;}
.cdingdgy212 { width:962px; height:235px; background:url(hf.jpg) no-repeat;}
.cdingdgy212c { text-align:center; padding-top:50px; height:auto; color:#fff;}
.cdingdgy212c h2 img {  -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; width:100px; height:100px; border:2px solid #fff;}
.cdingdgy212c h3 img { vertical-align:middle; margin-left:5px;}
.cdingdgy212c h3 { font-size:15px; font-weight:500}
.cdingdgy212c h4 { font-size:14px; font-weight:500}
.cdingdgzli { margin:20px 0; height:auto; clear:both; overflow:hidden}
.cdingdgzli li { float:left; width:100%; height:33px; line-height:33px; font-size:14px;}
.cdingdgzli li a { color:#333; display:block; text-indent:50px;}
.cdingdgzli .a a,.cdingdgzli li a:hover { background:#ff5a60; color:#fff;}

.cshangjbj { width:930px; height:auto; margin:20px 0; float:right; clear:both; overflow:hidden}
.cshangjbj1 { background:url(hx.gif) left 50% repeat-x; width:100%; height:30px; line-height:30px; overflow:hidden}
.cshangjbj1 span { float:left; background:#fff; padding-right:10px; font-size:14px;}
.cshangjbj1 a { float:right; background:#fff; border:1px solid #f00; height:28px; line-height:28px; font-size:12px; padding:0 15px; margin-left:10px; color:#f00;  -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.cshangjbj2 { width:500px; height:auto; margin:20px auto; overflow:hidden}
.cshangjbj2 td { font-size:14px; padding:5px 0;}
.cshangjbj2 span img { vertical-align:middle;}
.license { vertical-align:middle;}
.license img { width: 400px; height: 300px;}
.cshangjbj2 i { color:#999}
.cshangjbj2 select { width:100px;height:25px;margin-right: 15px;border:1px solid #eee; }
.cshangjbj2 .cshangjbj2in input { width:408px; border:1px solid #eee; height:22px; line-height:22px; text-indent:5px; color:#333;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.cshangjbj2 td textarea { width:398px; padding:5px; border:1px solid #eee; height:auto; min-height:90px; line-height:22px; color:#333;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.cshangjbj2li { padding-bottom:10px}
.cshangjbj2li li { float:left; width:50%;}
.cshangjbj2fuwu { padding:5px 0; clear:both}
.cshangjbj2fuwu li { float:left; margin-right:10px;}
.cshangjbj2fuwu li a { float:left; height:20px; padding:0 8px; border:1px solid #eee; position:relative}
.cshangjbj2fuwu li a span { position:absolute; right:-5px; top:-5px; background:url(x.gif) no-repeat; width:8px; height:8px;margin-bottom: 3px;}

.czhuce1 { width:1198px; border:1px solid #eee; background:#fff; margin:10px auto; overflow:hidden}
.czhuce11 { width:700px; margin:30px auto; font-size:14px; clear:both; overflow:hidden}
.czhuce11 span { float:left}
.czhuce11 a { float:right; color:#3792ed}
.czhuce12 { width:500px; height:auto; margin:0 auto 40px; font-size:14px;}
.czhuce12 td { padding:5px 0; clear:both;}
.czhuce12 p { border:1px solid #eee; height:33px; width:408px;}
.czhuce12 p input { width:100%; height:33px; line-height:33px; border:none; background:none; text-indent:5px}
.cshangjbj2but { width:100%; height:48px; line-height:48px; border:none; background:#ff5a5f; color:#fff; font-size:16px; text-align:center; cursor:pointer}
/*.imgboderp { border:1px solid #eee; padding:5px; width:398px;}*/
.imgboderp img { border:1px solid #eee; padding:5px; width:398px;}
/* by wanggp
.shangcutp { width:143px; height:21px; background:url(butsc.gif) no-repeat; background-size:100% 100%; border:none; overflow:hidden; position:relative; cursor:pointer}*/
.shangcutp { float:left;width:143px; height:21px; background:url(butsc.gif) no-repeat; background-size:100% 100%; border:none; overflow:hidden; position:relative; cursor:pointer}
.shangcutp input { width:143px; height:21px; background:none; border:none; position:absolute; right:0; top:0; opacity: 0; filter:alpha(opacity=0); cursor:pointer;}

/* by wanggp */
/*.shangcutp .cue { float:left;width:150px; height: 21px;}*/

.cshachsp { width:480px; height:auto; margin:0 auto}
.cshachspt { font-weight:bold;color:#333; font-size:14px; height:23px; line-height:23px; margin-top:10px; width:100%; clear:both; overflow:hidden}
.cshachspcin { width:48%; padding:5px; border:1px solid #eee; height:28px; line-height:28px; overflow:hidden; margin:5px 0;}
.cshachspc textarea { width:468px; padding:5px; border:1px solid #eee; height:auto; min-height:90px; line-height:28px; overflow:hidden; margin:5px 0;}
.cshachspt span { font-size:12px; color:#999}
.cshachspc2 { margin:10px auto; clear:both; text-align:center; height:auto; overflow:hidden}
.cshachspc2p { width:90px; height:25px; margin:0 auto; background:url(sc.gif) no-repeat; background-size:100% 100%; border:none; overflow:hidden; position:relative; cursor:pointer}
.cshachspc2p input { width:90px; height:25px; background:none; border:none; position:absolute; right:0; top:0; opacity: 0; filter:alpha(opacity=0); cursor:pointer;}
.cshachspc1 { padding:10px; border:1px solid #eee; width:458px; height:auto; background:#efefef; margin:10px 0; text-align:center;}
.cshachspc1 p { text-align:center; margin:10px auto; color:#000; font-size:14px}
/* by wanggp */
/* begin */
.cshachspc1 img { text-align:left; margin:10px; color:#000; width:200px; height:120px;}
/* end */
.retrie{position:relative;width:480px;z-index:102;height:100px}
.retrie dt{overflow:hidden;float:left;width:220px;height:38px;margin:5px 0}
.retrie dt input{float:left;width:160px;height:28px;line-height:28px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:0 0;border:1px solid #eee;text-indent:5px}
.retrie dt a{float:left;width:50px;height:32px;background:url(down.gif) 50% 0 no-repeat}
.retrie dt a:after{-webkit-transform:rotate(135deg)}
.retrie dt .up{background:url(up.gif) 50% 0 no-repeat}
.retrie dt .up:after{-webkit-transform:rotate(-45deg)}
.retrie dd{position:relative;width:120px}
.retrieslide{position:absolute;top:0;left:0;z-index:104;display:none;width:206px;max-height:200px;overflow-y:auto;background-color:#fff}
.retriearea .retrieslide{top:38px}
.retriearea2 .retrieslide{top:38px;left:220px}
.retriearea3 .retrieslide{top:86px;left:0}
.retriearea4 .retrieslide{top:86px;left:220px}

.retrieslide li{display:block;height:26px;border-bottom:1px solid #eee}
.retrieslide li a{display:block;padding:0 30px;height:26px;background-color:transparent;line-height:24px}
.retrieslide li a.selected,.retrieslide li a:hover{background-color:#f6f6f6}
.retrieslide li a.select{background-color:#fff}
.cshachspc3 { border:1px solid #eee; padding:0 2px; margin:5px 0; clear:both;}

#drag{ width:480px;height:400px; border:1px solid #eee;}
#drag .content{overflow:auto;}
#f_container{border: 1px solid #999999; z-index: 1000; display:none}
#container{width:290px;overflow: hidden;height: 20px;background:#F2F3F5;border: 5px solid #F2F3F5; }
#container select{border: 1px solid #ccc;}
.content .btn{width:105px; height: 30px;font-size: 13px; }
.chuangjlx { width:100%; background:url(hx.gif) left bottom repeat-x; height:35px; margin:20px 0; font-size:14px;}
.chuangjlxz { float:left}
.chuangjlxy { float:right; width:330px; height:28px; border:1px solid #eee;}
.chuangjlxy input { float:left; height:28px; line-height:28px; width:280px; padding:0 5px; background:none; border:none}
.chuangjlxy button { float:right; width:28px; height:28px; cursor:pointer; background:url(sea.gif) 50% 50% no-repeat; border:none; border-left:1px solid #eee;}
.chuangjlx li { float:left; padding:0 20px; height:32px; line-height:32px;}
.chuangjlx .a,.chuangjlx li:hover { border-bottom:3px solid #ff5a5f}
.chuangjlxc1 { width:920px; margin:20px auto; font-size:14px;}
.chuangjlxc2 { width:100%; margin:0 30px;}
.cshachspc4 { margin:5px 0; clear:both; height:auto; overflow:hidden}
.cshachspc4 textarea#lightdes{width: 94%;padding: 5px;border: 1px solid #eee;height: 200px;line-height: 28px;overflow: hidden;margin: 5px 0;}

.cshachspc4z { float:left; width:248px;}
.cshachspc4z img { border:1px solid #eee;width:248px}
.cshachspc4y { float:left; margin-left:20px; padding-top:33px}
.cshachspc3p { width:93px; height:21px; margin:0 auto; background:url(sc2.gif) no-repeat; background-size:100% 100%; border:none; overflow:hidden; position:relative; cursor:pointer}
.cshachspc3p input { width:93px; height:21px; background:none; border:none; position:absolute; right:0; top:0; opacity: 0; filter:alpha(opacity=0); cursor:pointer;}
.cshachspc6 { margin-top: 600px; margin-left: auto; margin-right: auto; margin-bottom: 40px;width:600px; text-align:center}
.cshachspc6 a {padding: 5px; width:120px; height:30px; line-height:30px; border:none; background:#ff6666; font-size:16px; color:#fff; text-align:center; cursor:pointer}
.cshachspc5 { margin:5px 0}
.cshachspc5 td { font-size:14px; color:#666; border-color:#eee;}
.chuangjlxc3 { width:100%; height:auto; padding-bottom:150px; clear:both; overflow:hidden}
.chuangjlxc3 tr:first-child td{font-size: 15px;font-weight: bold;}
.chuangjlxc3 tr:not(:first-child) td{color: #666;}
.chuangjlxc3 tr:not(:first-child):hover{background-color: #F0F0F0;}
.chuangjlxc3 td { text-align:center; padding:8px 0; border-bottom:1px solid #eee; font-size:14px;}
.chuangjlxc3 a { color:#3692ed}
.chuangjlxc3 td img { vertical-align:-1px; margin-left:5px;}

.chuangjlxc4 { height:30px; line-height:30px; width:914px; margin:15px auto; clear:both; overflow:hidden}
.chuangjlxc4z { float:left; padding-left:9px;}
.chuangjlxc4y { float:right}
.chuangjlxc4z li { float:left; margin-left:15px;}
.chuangjlxc4z li a { border:1px solid #eee; display:block; height:28px; line-height:28px; padding:0 10px; font-size:14px}
.chuangjlxc4z .a a,.chuangjlxc4z li a:hover { background:#ff5a5f; color:#fff; border:1px solid #ff5a5f;}
.chuangjlxc4z .add a{background: #44b549;color: #fff;border:none;}
.chuangjlxc4z li.add a:hover{background: #44b549;color: #fff;border:none;}
.chuangjlxc4y a { padding:0 20px 0 25px; height:30px; line-height:30px; font-size:14px; color:#fff; background:#ff5a5f url(xz.gif) 10px 50% no-repeat; float:right}
.chuangjlxc5 { width:940px; float:right; height:auto; clear:both; padding-bottom:50px;}
.chuangjlxc5d { float:left; width:180px; border:1px solid #eee; margin:0 10px 10px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;position: relative;}
.chuangjlxc5d1 img { width:180px; height:146px; overflow:hidden}
.chuangjlxc5d2 { padding:0 5px 10px; clear:both; height:auto; overflow:hidden}
.chuangjlxc5d2 h3 { font-size:16px; height:25px; line-height:25px; font-weight:500}
.chuangjlxc5d2 h4 { font-size:12px; font-weight:500; height:24px; line-height:24px;}
.chuangjlxc5d2 h5 { font-size:12px; clear:both; height:33px; line-height:33px; overflow:hidden; font-weight:500;visibility: hidden;}
.chuangjlxc5d2 h5 span { float:left}
.chuangjlxc5d2 h5 em { float:right}
.chuangjlxc5d2 h5 em i { font-size:18px; color:#f00}
.chuangjlxc5d3 { cursor: pointer;background-color: #F0F0F0;border-top:1px solid #eee; width:100%; height:28px; line-height:28px; text-align:center; overflow:hidden; font-size:14px;}
.chuangjlxc5d3 a{color: #666;}
.chuangjlxc5d div.suipian_remove{cursor: pointer;position: absolute;right: -12px;top: -12px;background: url(remove.png) no-repeat;width: 24px;height: 24px;margin-bottom: 3px;}


.chuangjlx_spzz { float:left; width:333px; height:30px; line-height:30px;border: 1px solid #eee }
.chuangjlx_spzz input { float: left;height: 30px;line-height: 30px;width: 280px;padding: 0 5px;background: none;border: none;}
.chuangjlx_spzz button { float: right;width: 30px;height: 30px;cursor: pointer;background: url(sea.gif) 50% 50% no-repeat;border: none;border-left: 1px solid #eee;}
.chuangjlx_spz { float:left; width:190px; margin-left: 10px;height:26px; line-height:26px;}
.nice-select{
	position: relative;color:#333; text-indent:10px; width:190px; height:26px;
}
.nice-select input{ display: block;width: 95%; text-indent:10px; border:1px solid #eee; height: 27px;background:none; font-size:12px;}
.nice-select ul li{height:26px;line-height:26px;overflow: hidden; width:100%; text-align:left; padding:0!important; text-indent:20px; cursor: pointer;}
.nice-select ul li.on{background-color: #ff5a5f; color:#fff;}

.cluxiangl1 { margin:10px 20px; clear:both; height:auto; overflow:hidden}
.cluxiangl2 { margin-bottom:50px; height:auto; clear:both; overflow:hidden}
.cluxiangl1d { width:333px; height:30px;border: 1px solid #eee}
.cluxiangl1d input { float: left;height: 30px;line-height: 30px;width: 280px;padding: 0 5px;background: none;border: none;}
.cluxiangl1d button { float: right;width: 30px;height: 30px;cursor: pointer;background: url(sea.gif) 50% 50% no-repeat;border: none;border-left: 1px solid #eee;}
.cluxiangl2z { float:left; width:95%; padding:0 20px;}
.cluxiangl2y { float:right; width:320px; height:360px; overflow:hidden; border:5px solid #efefef; position:relative; display:none}
.cluxiangl2zd { width:100%; height:auto; margin:10px 0; overflow:hidden}
.cluxiangl2zdz { float:left; width:85%; height:auto; border:1px solid #eee;}
.cluxiangl2zdy { float:right; width:107px; height:auto; padding-top:16px; overflow:hidden}
.cluxiangl2zdy li { float:left; width:100%; height:35px; overflow:hidden;}
.cluxiangl2zdy li a { display:block; width:103px; text-align:center; font-size:14px; color:#333; height:30px; line-height:30px; border:1px solid #eee;}
.cluxiangl2zdy .a,.cluxiangl2zdy li a:hover { background:#ff5a5f; color:#fff; border:1px solid #ff5a5f;}
.cluxiangl2zdzz { float:left; width:188px; height:138px; overflow:hidden}
.cluxiangl2zdzz img { width:100%; height:100%}
.cluxiangl2zdzy { float:right; width:545px; padding:10px 10px 10px 0; height:auto; overflow:hidden; font-size:14px;}
.cluxiangl2zdzy h3 { font-size:15px; height:25px; width:100%; clear:both; overflow:hidden}
.cluxiangl2zdzy h3 span { float:left}
.cluxiangl2zdzy h3 em { float:right; color:#f00}
.cluxiangl2ytop { position:absolute; right:10px; top:10px; z-index:9999}
.cluxiangl2ymap1 { width:318px; height:288px; border:1px solid #eee; overflow:hidden}
.cluxiangl2ymap2 { width:320px; height:auto; padding:10px; font-size:14px;}
.cyulanr1 { width:962px; height:235px; background:url(hf.jpg) no-repeat; clear:both; overflow:hidden}
.cyulanr1c { width:860px; height:auto; margin:110px auto 0;}
.cyulanr1cz { float:left}
.cyulanr1cy { float:right; padding-top:90px; color:#fff;}
.cyulanr1czz { float:left; width:100px; height:100px;}
.cyulanr1czz img {-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; border:2px solid #fff;}
.cyulanr1czy { float:left; padding-left:15px; padding-top:45px;}
.cyulanr1czy h3 { font-size:18px; font-weight:500; color:#fff; height:35px; line-height:35px; width:100%; clear:both; overflow:hidden}
.cyulanr1czy p { font-size:14px; color:#fff;}
.cyulanr2 { border-left:1px solid #eee; padding-bottom:20px; clear:both; height:auto;}
.cyulanr2d { height:50px; background:url(hx.gif) left bottom repeat-x; clear:both;}
.cyulanr2dz { float:left}
.cyulanr2dy {float:right}
.cyulanr2dz li { float:left; height:49px; font-size:14px;}
.cyulanr2dz li a { margin:10px 0; height:29px; line-height:29px; padding:0 20px; display:block; text-align:center; border-right:1px solid #eee;}
.cyulanr2dz .a { border-bottom:1px solid #ff5a5f}
.cyulanr2dz .a a { color:#ff5a5f}
.cyulanr2dyz { float:left; width:120px}
.cyulanr2dyy { float:right}
.cyulanr2dyy li { float:left; width:120px; text-align:center; height:49px; line-height:49px;}
.cyulanr2dyy li a { display:block; font-size:14px; color:#fff;}
.cyulanr2dyyli1 { background:#3692ed}
.cyulanr2dyyli2 { background:#ff6666}
.menuPopup{ position:relative;float:left; height:49px; line-height:49px; font-size:14px; padding:0 20px 0 0px; background:url(down2.gif) right 50% no-repeat}
.topfenxiangbox{ position: absolute; top:49px; left: 0; line-height: 20px; border: 1px solid #eee; border-top:none; background: #fff; z-index: 100; display: none;width:268px; padding: 0 5px;}
.cyulanr3 { margin:0 0 50px; clear:both; height:auto; overflow:hidden}
.cyulanr3tr1 td { text-align:center; padding:5px 0;}
.cyulanr3_td1 { vertical-align:middle}
.cyulanr3_td1 font { width:18px; height:18px; text-align:center; line-height:18px; display:block; margin:0 auto; font-size:12px!important; color:#fff; background:#999; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.cyulanr3_td3 p { margin:10px; font-size:14px;}
.cyulanr3_td3 p span { display:block; font-size:12px; color:#999}
.cyulanr3_td4 p { margin:10px; font-size:12px; text-align:center}
.cyulanr3_td4 p img { vertical-align:middle; margin:0 3px}
.cyulanr3_td5d { font-size:14px; color:#333; margin:10px;}
.cyulanr3_td5d span { color:#999!important}
.cyulanr3_td6 { color:#333;}
.cyulanr3_td6 p { margin:10px}
.cyulanr3_td6 span { color:#999; font-size:12px; margin-top:10px; display:block}
.cyulanr4 { margin:0 0 50px; clear:both; height:auto; overflow:hidden}

.cyulanbzz { float:left; width:600px; padding-left:10px; margin-bottom:50px; height:auto; overflow:hidden}
.cyulanbzzz { float:left; width:50px; height:auto; overflow:hidden; text-align:center}
.cyulanbzzy { float:right; width:528px; border:1px solid #eee; height:auto; overflow:hidden}
.cyulanbzy { float:right; width:320px; height:360px; overflow:hidden; border:5px solid #efefef; position:relative;}
.none { display:none}
.cyulanbzzy1 { height:40px; padding:20px; border-bottom:1px solid #eee;}
.cyulanbzzy2d { width:100%; height:130px; clear:both; overflow:hidden;margin-top: 5px;}
.cyulanbzzy1z { float:left; width:40px; background:#ff5a5f; color:#fff; font-size:14px; text-align:center; line-height:40px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.cyulanbzzy1y { float:left; padding-left:10px;}
.cyulanbzzy1y h3 { font-size:14px; font-weight:500; color:#333;}
.cyulanbzzy1y h4 { font-size:12px; color:#999; font-weight:500}
.cyulanbzzy2dy { float:left; width:300px; padding:10px; height:auto;}
.cyulanbzzy2dy h2 { font-size:15px; font-weight:500}
.cyulanbzzy2dy h3 { font-size:12px; margin:5px 0; color:#999; font-weight:500; clear:both}
.cyulanbzzy2dy p { font-size:12px; height:auto; line-height:25px; color:#999;}
.cyulanbzzy2dy p span { float:left}
.cyulanbzzy2dy p em { float:right}
.cyulanbzzy2dy p em i { font-size:18px; color:#f00}
.cyulanbzzz ul { background:url(sx.png) 4px top repeat-y; height:auto; overflow:hidden}
.cyulanbzzz ul li { margin:8px 0; font-size:14px; cursor:pointer}
.cyulanbzzz ul .active { background:url(liaon.png) left 50% no-repeat}

.chuangjlxy2 { float:right}
.chuangjlxy2 a { float:right; padding:0 20px; height:26px; line-height:26px; color:#fff; background:#ff5a60;  -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}


.cpcjxctop { clear:both; padding:10px 0 30px 20px; height:auto; overflow:hidden;}
.cpcjxctopz { float:left;}
.cpcjxctopy { float:right; padding-top:12px;}
.cpcjxctopy li { float:left; width:35px;}
.cpcjxctopy li a { width:25px; display:block; background:#ff5a5f; float:right; height:25px; line-height:25px; text-align:center; color:#fff; font-size:16px; font-weight:600; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.cpcjxctopz li { margin-bottom:10px;float:left; height:50px; width:110px; position:relative}
.cpcjxctopz li a { display:block; position:absolute; left:0; top:0; width:48px; height:48px; color:#ff5a5f; border:1px solid #ff5a5f; background:#fff; font-size:16px; text-align:center; line-height:50px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.cpcjxctopz .a a,.cpcjxctopz li a:hover { color:#fff; background:#ff5a5f}
.cpcjxctopz li span { position:absolute; left:50px; top:0px; width:18px; height:4px; cursor:pointer; background:url(spanjian.gif) no-repeat; display:none}
.cpcjxcbot { clear:both; height:auto;position:relative}
.cpcjxcbotz { float:left; width:940px; padding-left:20px; height:auto; padding-bottom:180px}
.cpcjxcboty { position: absolute;top:116px;right:279px;background-color: #fff;}

.cpcjxcbotzz { float:left; width:300px; height:auto; border:1px solid #eee;}
.cpcjxcbotzy { float:right; width:458px; height:auto; border:1px solid #eee;}
.cpcjxcboty li { width:72px; height:72px; border-bottom:1px solid #eee; line-height:72px; text-align:center}
.cpcjxcboty li a { display:block; width:100%; height:100%; vertical-align:middle;font-size: 14px;}
.cpcjxcboty li img { vertical-align:middle}
.chuangjlxc4z_xc li { margin-left:2px!important; margin-right:15px}
.chuangjlxc4z_xc .light-tab {position:relative;margin-bottom: 5px;}
.chuangjlxc4z_xc .close {cursor:pointer;position: absolute;right: -4px;top: -3px;background: url(x.gif) no-repeat;width: 8px;height: 8px;margin-bottom: 3px;}

.cpcjxcbotzzt { border-bottom:1px solid #eee; width:100%; height:72px}
.cpcjxcbotzzb { width:100%; clear:both;}
.cpcjxcbotzzbd { padding:15px; height:40px; clear:both; cursor:pointer; position:relative}
.cpcjxcbotzzbd:hover { background:#eee;}
.cpcjxcbotzzbdz { float:left; font-size:16px}
.cpcjxcbotzzbdz img{
	padding-right: 10px;
}
.cpcjxcbotzzbd img { vertical-align:middle}
.cpcjxcbotzzbdy { float:right; margin-top:5px; cursor:pointer}

.chuangjlx_sp { clear:both; height:25px;}
.chuangjlx_xc { width:100%; background:url(hx.gif) left bottom repeat-x; height:auto; margin:20px 0 0; font-size:14px;}
.chuangjlx_sp_xc { width:95%; clear:both; overflow:hidden; height:auto; border-top:1px solid #eee; margin:10px; padding:10px;}
.chuangjlx_sp_xcz { float:left}
.chuangjlx_sp_xcz li { float:left; padding:5px 10px;}
.chuangjlx_sp_xcz li a { padding:0 10px;}
.chuangjlx_sp_xcy { float:right;}
.chuangjlx_sp_xcy a { height:28px; line-height:28px; padding:0 10px; float:right; text-align:center; color:#fff; background:#ff5a5f}

.chuangjlx_sp_xcza1 { background:url(xcc1.png) left 50% no-repeat; padding-left:25px!important;}
.chuangjlx_sp_xcza2 { background:url(xcc21.png) left 50% no-repeat; padding-left:25px!important;}
.chuangjlx_sp_xcz .active .chuangjlx_sp_xcza1 { background:url(xc12.png) left 50% no-repeat; padding-left:25px!important;}
.chuangjlx_sp_xcz .active .chuangjlx_sp_xcza2 { background:url(xcc2.png) left 50% no-repeat; padding-left:25px!important;}
.chuangjlx_sp_xcz .active { border-bottom:1px solid #ff5a5f}

.cpcjxcbotzztz { float:left}
.cpcjxcbotzzty { float:right; position:relative}
.cpcjxcbotzzty .boxSearch { position:absolute; right:10px; top:20px; cursor:pointer}
.cpcjxcbotzzty .search_form_suggest {display:none; position:absolute; right:10px; top:50px; z-index:9999; }
.cpcjxc_tanc { width:235px; height:auto; background:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -moz-box-shadow: 4px 4px 22px #999;
-webkit-box-shadow: 4px 4px 22px #999;
box-shadow: 4px 4px 22px #999;}
.cpcjxc_tanct { width:100%; border-bottom:1px solid #eee; height:32px; line-height:32px;}
.cpcjxc_tanctz { float:left; padding-left:20px; font-size:14px; color:#333;}
.cpcjxc_tancty { float:right; padding-right:20px;}
.cpcjxc_tancc { clear:both; height:auto; overflow:hidden}
.cpcjxc_tancc li { float:left; width:100%; height:32px; line-height:32px; cursor:pointer; clear:both; overflow:hidden; text-indent:20px}
.cpcjxc_tancc li img { vertical-align:-2px; margin-right:13px;}
.cpcjxc_tancc_5 { border-top:1px solid #eee;}
.cpcjxcbotzzbd .search_form_suggest { display:none; width:235px; position:absolute; right:15px; top:45px; z-index:9999; height:auto; background:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -moz-box-shadow: 4px 4px 22px #999;
-webkit-box-shadow: 4px 4px 22px #999;
box-shadow: 4px 4px 22px #999;}
.cpcjxcbotzztz1 { height:24px; line-height:24px; margin:10px 10px 5px; clear:both}
.cpcjxcbotzztz1 input { background:none; border:none; color:#999;font-size: 13px;}
.cpcjxcbotzztz2 { padding:0 10px; clear:both; font-size:14px;}
.cpcjxcbotzztz2 input { border:none;}
.cluxiangl2zdz_xc { border:1px solid #eee; width:428px; height:auto; min-height: 168px; margin:0 auto 10px; position:relative}
.cluxiangl2zdz_xcz { float:left; width:168px; height:118px; margin:10px; overflow:hidden}
.cluxiangl2zdz_xcz img { width:100%; height:100%}
.cluxiangl2zdz_xcy { float:right; width:220px; padding:10px 10px 10px 0; height:auto; overflow:hidden; font-size:14px;}
.cluxiangl2zdz_xcy h3 { font-size:15px; height:25px; width:100%; clear:both; overflow:hidden}
.cluxiangl2zdz_xcy h3 span { float:left}
.cluxiangl2zdz_xcy h3 em { float:right; color:#f00}
.cluxiangl2zdz_xc1 { width:100%; clear:both; height:auto; overflow:hidden}
.cluxiangl2zdz_xc2 { height:30px; line-height:30px; border-top:1px solid #eee; text-align:center}
.cluxiangl2zdz_xc2 li { float:left; width:213px; border-right:1px solid #eee; text-align:center; font-size:14px;}
.cluxiangl2zdz_xc2 li img { vertical-align:-2px; margin-right:4px;}
.cluxiangl2zdz_xc2 .li2boxSearch { background:#ff5a5f; width:214px!important; cursor:pointer; color:#fff; border-right:none!important}
.cluxiangl2zdz_xc .search_form_suggest { display:none; width:235px; position:absolute; right:0px; top:175px; z-index:9999; height:auto; background:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -moz-box-shadow: 4px 4px 22px #999;
-webkit-box-shadow: 4px 4px 22px #999;
box-shadow: 4px 4px 22px #999;}
.cpcjxc_tancc_xcr { clear:both; height:auto; overflow:hidden}
.cpcjxc_tancc_xcr li { float:left; width:100%; height:32px; line-height:32px; cursor:pointer; clear:both; overflow:hidden;}
.cpcjxc_tancc_xcr li a { display:block; width:100%; height:32px;}
.cpcjxc_tancc_xcr li a:hover { background:#efefef}
.cpcjxc_tancc_xcr li span { float:left; margin-left:30px; margin-top:5px; font-size:12px; width:20px; line-height:20px; height:20px; text-align:center; color:#fff; background:#999; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.cpcjxc_tancc_xcr li em { float:left; padding-left:10px}

.coverbai { display:none; position:absolute; left:0; top:0; right:0; bottom:0; background-color: rgba(255, 255, 255, 0.7);
background: rgba(255, 255, 255, 0.7);
color: rgba(255, 255, 255, 0.7);}
.coverbaic { width:1200px; height:auto; margin:146px auto;}
.coverbaicd { width:987px; height:auto; height:650px; background:#fff; border:1px solid #eee}
.coverbaicdz { float:left; width:71px; border-right:1px solid #eee; background:#e5e5e5; height:650px; overflow:hidden}
.coverbaicdy { float:right; width:915px; height:auto; overflow:hidden}
.coverbaicdz li { float:left; width:71px; height:81px; line-height:81px; border-bottom:1px solid #eee; text-align:center}
.coverbaicdz li a { width:71px; height:81px; display:block; text-align:center;}
.coverbaicdz .active { background:#ff5a5f}
#coverbaicdz_1 { background:url(ricon1.png) 50% 50% no-repeat}
#coverbaicdz_2 { background:url(ricon2.png) 50% 50% no-repeat}
#coverbaicdz_3 { background:url(ricon3.png) 50% 50% no-repeat}
.coverbaicdz .active #coverbaicdz_1 { background:url(ricon1a.png) 50% 50% no-repeat}
.coverbaicdz .active #coverbaicdz_2 { background:url(ricon2a.png) 50% 50% no-repeat}
.coverbaicdz .active #coverbaicdz_3 { background:url(ricon3a.png) 50% 50% no-repeat}
.coverbaicdy_1c { border-top:1px solid #eee; width:100%; height:auto; overflow:hidden; clear:both}
.coverbaicdy_1c li { float:left; width:100%; height:33px; line-height:33px; border-bottom:1px solid #eee; font-size:14px; text-align:center; color:#333;}
.co_li_sp1 { float:left; width:169px; border-right:1px solid #eee;}
.co_li_sp2 { float:left; width:249px; border-right:1px solid #eee;}
.co_li_sp3 { float:left; width:259px; border-right:1px solid #eee;}
.co_li_sp4 { float:left; width:180px;border-right:1px solid #eee;}
.co_li_sp5 {float: left;width: 50px;}
.coverbaicdy_1ty { float:right; width:150px; padding:15px;}
.coverbaicdy_1tz { float:left}
.coverbaicdy_1ty span { float:left; width:100px;}
.coverbaicdy_1ty em { float:right}
.coverbaicdy_1ty em img { padding:8px; border:1px solid #333; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; cursor:pointer; margin-top:5px;}
.coverbaicdy_1ty a { display:block; height:33px; line-height:33px; color:#fff; font-size:14px; text-align:center; background:#ff5a5f}
.coverbaicdy_1tz1 { float:left; padding:15px; font-size:14px; color:#333;}
.coverbaicdy_1tz1 input { border:1px solid #eee; width:160px; height:20px; line-height:20px; padding:5px; font-size:14px}
.coverbaicdy_1tz2 { float:left; width:280px; padding:15px; color:#333; font-size:14px}
.coverbaicdy_1tz2 input { border:1px solid #eee; width:130px; height:20px; line-height:20px; padding:5px; font-size:14px}
.select2 { width:95px; height:30px; line-height:30px; font-size:14px; background:none; border:none;}     
.sleHid2 { display:block; width:90px; padding-left:5px; overflow:hidden; border:none}     
.sleBG2 { width:80px; height:30px; line-height:28px; overflow:hidden; border:#eee 1px solid; border-left:none; background:#fff url(down2.gif) 90% 50% no-repeat; display:block;}
.coverbaicdy_1tz3 { float:left; width:110px; padding:15px; font-size:14px; color:#333;}
.select3 { width:80px; height:30px; line-height:30px; font-size:14px; background:none; border:none;}     
.sleHid3 { display:block; width:65px; padding-left:5px; overflow:hidden; border:none}     
.sleBG3 { width:60px; height:30px; line-height:28px; overflow:hidden; border:#eee 1px solid; background:#fff url(down2.gif) 90% 50% no-repeat; display:block;}

/* by wanggp */
.errmessage {
	width:440px;
	margin:0 auto;
	color:red;
	font-size:14px;
}



.cpcjxc_tc_pan { display:none; position:absolute; left:0; top:0; right:0; bottom:0; background-color: rgba(255, 255, 255, 0.7);
background: rgba(255, 255, 255, 0.7);
color: rgba(255, 255, 255, 0.7);}
.cpcjxc_tc_panc { width:760px; height:auto; margin:156px auto; position:relative}
.cpcjxc_tc_panc_gb { width:30px; height:30px; background:url(xx.png) no-repeat; position:absolute; right:0; top:0; display:block; cursor:pointer}
.cpcjxc_tc_pancd { width:650px; padding:25px; height:auto; overflow:hidden; background:#fff; margin:0 auto; -moz-box-shadow: 0px 0px 5px #333;
-webkit-box-shadow: 0px 0px 5px #333;
box-shadow: 0px 0px 5px #333;}
.cpcjxc_tc_pancd1 { height:50px; line-height:40px; font-size:16px; color:#333; clear:both; width:100%; overflow:hidden}
.cpcjxc_tc_pancd2 { padding-bottom:15px; margin-bottom:15px; border-bottom:1px dashed #eee; width:100%; height:55px; overflow:hidden}
.cpcjxc_tc_pancd2z { float:left; width:55px; overflow:hidden}
.cpcjxc_tc_pancd2y { float:right; width:580px; padding:10px 0}
.cpcjxc_tc_pancd2y input { height:25px; line-height:25px; font-size:14px; color:#666; width:550px; padding:5px; border:1px solid #eee;}
.cpcjxc_tc_pancd3 { color:#333; font-size:14px;}
.cpcjxc_tc_pancd3 td { padding:13px 0;}
.cpcjxc_tc_pancd3_bo { border:1px solid #eee; width:208px; padding:0 5px; height:35px; line-height:35px;}
.nice-select_tc1 { width:218px; margin:5px 0;  background:url("down2.gif") no-repeat scroll 190px 50%; text-indent:0!important}
.nice-select_tc1 ul { top:30px!important; left:-6px!important}
.nice-select_tc1 input { text-indent:5px!important}
.nice-select_tc1 ul li { height:33px; line-height:33px; font-size:14px; text-indent:10px!important}
.cpcjxc_tc_pancd3_bo input { border:none; font-size:14px; width:100%; text-indent:5px;}
#tianjiajstime_show { display:none}
.cpcjxc_tc_pancd3_hf1 { float:left; width:70px; height:35px; border-right:1px solid #eee;}
.cpcjxc_tc_pancd3_hf2 { float:left; width:80px; height:35px; border-right:1px solid #eee;}
.cpcjxc_tc_pancd3_hf3 { float:left; width:56px; height:35px;}
.nice-select_tc2 { width:80px; margin:5px 0;  background:url("down2.gif") no-repeat scroll 60px 50%; text-indent:0!important}
.nice-select_tc2 ul { top:30px!important; left:-1px!important}
.nice-select_tc2 input { text-indent:10px!important}
.nice-select_tc2 ul li { height:33px; line-height:33px; font-size:14px; text-indent:10px!important}
.nice-select_tc3 { width:61px; margin:5px 0;  background:url("down2.gif") no-repeat scroll 40px 50%; text-indent:0!important}
.nice-select_tc3 ul { top:30px!important; left:-1px!important}
.nice-select_tc3 input { text-indent:10px!important}
.nice-select_tc3 ul li { height:33px; line-height:33px; font-size:14px; text-indent:10px!important}
.cpcjxc_tc_pancd3_texta { border:1px solid #eee; padding:5px; font-size:14px; color:#666;}
.cpcjxc_tc_pancd3_texta textarea { border:none; width:100%; min-height:100px}
.cpcjxc_tc_pancd3_but { height:30px; line-height:30px; width:200px; float:right}
.cpcjxc_tc_pancd3_but li { float:left; width:100px; height:30px; overflow:hidden}
.cpcjxc_tc_pancd3_but li button { width:78px; height:28px; font-size:14px; float:right; text-align:center; line-height:25px; cursor:pointer;  -webkit-border-radius:1px; -moz-border-radius:1px; border-radius:1px;}
.cpcjxc_tc_pancd3_butli2 button { background:#41c074; border:1px solid #41c074; color:#fff;}
.cpcjxc_tc_pancd3_butli1 button { background:#fff; border:1px solid #41c074; color:#41c074}

.jiazaimore { clear:both; height:auto; padding:30px 0; overflow:hidden; text-align:center}
.jiazaimore a { padding:5px 20px; font-size:14px; color:#fff; background:#ff5a60}
.suipianrim { float:right; width:988px; height:auto; min-height:990px; overflow:hidden; position:relative}
.suipidel { width:958px; height:auto; min-height:1100px; position:absolute; left:1px; top:1px; background:#fff; display:none}
.suipidel1 { height:60px; border-bottom:1px solid #eee; padding:15px 0; width:100%; position:relative}
.suipidel1sp { position:absolute; right:0; top:8px; cursor:pointer;}
.suipidel1z { float:left; padding-left:25px;}
.suipidel1y { float:right; font-size:14px; padding-top:15px;}
.suipidel1y span { font-size:28px}
.suipidel1z h2 { font-size:28px; font-weight:500}
.suipidel1z h4 { font-size:14px; font-weight:500}
.suipidel2 { float:right; width:935px; height:auto; padding:20px 0 0 20px; overflow:hidden}
.suipidel2z { float:left; width:430px; height:auto; overflow:hidden}
.suipidel2y { float:right; width:480px; height:auto; overflow:hidden;}
.suipidel2z1 { width:280px; width:410px; border:10px solid #eee;}
.slideBox{ width:410px; height:280px; overflow:hidden; position:relative;}
.slideBox .hd{ height:12px; overflow:hidden; position:absolute; left:45%; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;}
.slideBox .hd ul li{ float:left; margin-right:5px;  width:12px; height:12px; line-height:12px; text-align:center; background:#fff; cursor:pointer; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; }
.slideBox .hd ul li.on{ background:#00b081; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:410px; height:280px; display:block;  }
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:20px; height:32px; background:url(zy.png) 0 0 no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:100% 0; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
.suipidel2z2 { height:50px; line-height:50px; font-size:16px; clear:both; width:100%; overflow:hidden}
.suipidel2z2 span { float:left; width:50%; text-align:center}
.suipidel2z2 em { float:right; width:50%; text-align:center}
.suipidel2z3 { border:1px solid #eee; padding:10px; clear:both; height:auto; max-height:230px; overflow-y:auto; font-size:14px; margin-bottom:10px;}
.suipidel2z3t { font-size:14px; vertical-align:middle; height:30px; line-height:30px; width:100%; overflow:hidden}
.suipidel2z3t img { vertical-align:middle; margin-right:5px;}
.suipidel2z3c { padding:0 16px; line-height:23px;}
.suipidel2z4 { border:1px solid #eee; padding:10px; clear:both; height:auto; overflow:hidden; font-size:14px; margin-bottom:10px;}
.suipidel2z4 li { float:left; width:100%; height:auto; line-height:30px; overflow:hidden}
.suipidel2z4 li span { float:left; width:95px;}
.suipidel2z4 li em { float:left;}
.suipidel2z4 li img { vertical-align:middle; margin-right:5px;}
.suipidel3 { margin:0 auto; width:350px; clear:both; height:auto; overflow:hidden; padding:20px 0}
.suipidel3 li { float:left; width:120px;}
.suipidel3li2 { float:right!important}
.suipidel3 li button { border:none; display:block; text-align:center; font-size:12px; color:#fff; width:120px; height:30px; line-height:30px;}
.suipidel3li1 button { background:#ff5a5f}
.suipidel3li2 button { background:#3692ed}

.xingchsupdel { float:right; width:630px; height:auto; min-height:750px; position:relative; border:1px solid #eee;}
.psuipxdel { position:absolute; right:0; top:0; min-height:770px; background:#fff; display:none}
.psuipxdel1 { height:55px; width:100%; border-bottom:1px solid  #eee; clear:both}
.psuipxdel2 { padding:15px; clear:both; height:auto; overflow:hidden}
.psuipxdel1z { float:left; width:55px; height:55px; border-right:1px solid #eee; text-align:center; cursor:pointer}
.psuipxdel1z span { display:block; margin-top:20px;}
.psuipxdel1y { float:right; width:400px; text-align:center; line-height:23px; padding:6px 0; font-size:15px}
.psuipxdel21 { clear:both; height:auto; padding-bottom:10px; overflow:hidden}
.psuipxdel21z { float:left; width:210px; height:auto; overflow:hidden}
.psuipxdel21z img {width: 210px; height:147px;}
.psuipxdel21y { float:right; width:200px; height:auto; overflow:hidden}
.psuipxdel21y h2 { font-size:16px; font-weight:500; height:35px; width:100%; clear:both; overflow:hidden}
.psuipxdel21y h2 span { font-size:18px}
.psuipxdel21y h3 { font-size:14px; font-weight:500; height:25px; line-height:25px; clear:both; width:100%; overflow:hidden}
.psuipxdel21y h3 span { float:left}
.psuipxdel21y h3 em { float:right}
.psuipxdel21y h4 { width:150px; height:28px; line-height:28px; font-size:14px; margin-top:8px; border:1px solid #ff5a5f; color:#ff5a5f; text-align:center;}
.psuipxdel21y h4 a { color:#ff5a5f}


[id*='cpcjxcbotzy_'] {max-height:800px;overflow: auto;}
.my-btn {
	float: right;
	display: block;
	width: 103px;
	text-align: center;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #eee;
	background-color: #2ecc71;
}
.title-input-li {
	font-weight: bold;
	color: #333;
	font-size: 14px;
	margin-top: 10px;
	width: 100%;
	clear: both;
	overflow: hidden;
}

.title-input-in {
	width: 48%;
	border: 1px solid #eee;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	margin: 5px 10px;
}


/* Edgar新增 */
.chuangjlxc4z_xc input[type='checkbox']{
	vertical-align: middle;
}
.dv-notice {
	margin-top: 150px;
	margin-left: 10px;

}
.p-notice {
	font-size:20px;
}
.ta-notice {
	width: 398px;
	padding: 5px;
	border: 1px solid #eee;
	height: auto;
	min-height: 190px;
	line-height: 22px;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left:60px;
	margin-top:10px;
}
