<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>找回密码</title>
<meta http-equiv="refresh" content="3;url={{ url_for('auth.login') }}">
<link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="images/style.css") }}" />
<script type="text/javascript" src="{{ url_for('static', filename="images/jquery.min.js") }}"></script>
</head>
<body>
<div class="cheader">
	<div class="cmain">
		<div class="cheaderz"><a href="/order">
<img src="http://p.igenwo.com/{{ url_for('static', filename="images/logo.gif") }}"></a></div>
	</div>
</div>
<div class="height20"></div>
<div class="cmain">
	<div class="clogin">
		<div class="clogincd6">
			系统异常，请稍候再试
		</div>
	</div>
</div>

</body>
</html>
